body {
    background-color: #f8f9fa;
}

.navbar {
    margin-bottom: 20px;
}

.logo-search-row {
    height: 100px;
}

.logo-img {
    margin-top: -3%;
    max-height: 108px;
}

.form-section {
    background-color: #e9ecef;
    padding: 20px;
    margin-top: 150px;
    margin-bottom: 20px;
    border-radius: 5px;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

select.form-control,
input.form-control {
    height: calc(3rem + 2px);
    font-size: 1rem;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    height: calc(2.5rem + 2px);
    font-size: 1rem;
}

.btn-black {
    background-color: #000000 !important;
    color: white !important;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    width: 100%;
}

.btn-black:hover {
    background-color: #6c757d !important;
}

.d-grid.gap-2.mt-3 {
    margin-top: 1rem;
}