.container {
  max-width: 1200px;
  margin: auto;
}

.logo-img {
  width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto; 
  background-color: transparent;
}

.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;       
  padding: 5px;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
}

.navbar-nav {
  display: flex;
  flex-grow: 1; 
  justify-content: flex-end; 
}

.nav-link {
  color: #ffffff;
  margin: 0 10px;
}

.hero-image img {
  width: 100%;
  height: auto;
}

.special-offers {
  background-color: #f8f9fa;
  padding: 2rem;
}

.offer-card {
  background-color: white;
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 1rem;
}

.offer-card img {
  max-height: 200px;
  width: 100%;
  object-fit: cover;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
}

.old-price {
  text-decoration: line-through;
  color: red;
  margin-right: 0.5rem;
}

.location {
  font-size: 1rem;
  color: #555;
}

.chat-bot {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
